doctype html
html(lang="en")
    head    
        // Google tag (gtag.js)
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-RTSW0HZ1HG')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-RTSW0HZ1HG');

        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 聯絡頁面
        link(rel="stylesheet", href=" ../css/contact.css")
        script(src='https://www.gstatic.com/firebasejs/5.5.1/firebase.js')
        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4poCUfkAs_97yUwR5p00wxVgH7-ncnuM&callback=initMap")
        script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js')
        script(type='text/javascript').
            (function(){
            emailjs.init("OUQqOz6igY5YaEUO8");
            })();
        script(src="../js/login.js")
        script(src="../js/all.js" defer)
        script(src="../js/contact.js" defer)
        
    body 
        .header 
            #headerNav
                img.logo(src="https://frankyeah.github.io/Front-Enter/images/FE_logo-4.png", alt="")
                nav
                    button#search-button(type="button") 探索
                    button#skilltree-button(type="button") 技能樹
                    button#header-login(type="button") 登入
                    img#click-glass(src="https://frankyeah.github.io/Front-Enter/images/FE_search_green.png", alt="")

            #loginContainer 
                .loginBackground 
                    .loginBox
                        img.login(src="https://frankyeah.github.io/Front-Enter/images/FE_logo-2.png", alt="") 
                        form
                            input#email(type="email" name="email" placeholder="Email" required)
                            input#password(type="password" name="password" placeholder="******" required)
                        span.forgetPW 忘記密碼？
                        .blueBtn
                            button#register 註冊
                            button#login 登入
                        button#loginGmail log in with Gmail
                .remindBackground
                    .remindBox
                        .header Remind 
                        .content 
                        button.okButton OK 
                        button.noButton No
                         
                         
                    


            #search-box
                span SEARCH
                form#searchBar(action="") 
                    input#search(type='search' placeholder='搜尋課程名稱、所在城市或簡介' data-search)
                    img.voice(src="https://frankyeah.github.io/Front-Enter/images/microphone.svg", alt="")
                    img.search-glass(src="https://frankyeah.github.io/Front-Enter/images/FE_search_green.png")
            #black-box
            



        .info 
            .info-header 技能樹
            .test-go.test-go-container
                img.test-go-round(src="https://frankyeah.github.io/Front-Enter/images/FE_test_go.png")
            .testContainer 
                .testBackground 
                    .boxContainer  
                        .testHeader 測驗說明
                        .testIntro 點選「開始測驗」後，系統將根據你的回答，找出最適合你的學習環境，並顯示有多少百分比的合適度。
                        .startBtn 開始測驗
                        .testQuestion Question Test
                        .testNumber 0/5
                        ul#testList 
                            li 
                                input#1.answer(type='radio' name='answer') 
                                label#1-text(for='1') 台北
                            li
                                input#2.answer(type='radio' name='answer')
                                label#2-text(for='2') 台北                           
                            li
                                input#3.answer(type='radio' name='answer')
                                label#3-text(for='3') 台北                           
                            li 
                                input#4.answer(type='radio' name='answer')
                                label#4-text(for='4') 台北
                            li 
                                input#5.answer(type='radio' name='answer')
                                label#5-text(for='5') 台北
                        button#newURL 學校 ABC
                        .pieContainer
                            .pieChart
                                .pieNum 20%
        .main
            .contactInfo
                 .contactHeader 聯絡我們
                 .intro 想進一步了解我們？歡迎來信與我們聯絡。
                 form#contactForm
                    input.name(type="text" name="name" placeholder="名字" required) 
                    input.email(type="email" name="email" placeholder="信箱" required)  
                    input.topic(type="text" name="topic" placeholder="信件主旨" required) 
                    textarea#contactContent(cols="30", rows="10" name="message" placeholder="信件內容")
                    button(type='submit') 送出
            .addressInfo
                .address 
                    .icon
                    .addressLine 新北市永和區竹林路112號之1號
                #googleMap 


        .top
            #topwrap(onclick="toTop()") 
                .top-arrow
                .top-icon 
                    h3 TOP

        .footer
            .footer-info
                a(href="contact.html") 聯絡
                .num 0918-120-210
                .mail wendy950210@gmail.com
            .fb-line
                a(href="https://www.facebook.com/WendyHsinYun" target="_blank") 
                    img.fb(src="https://frankyeah.github.io/Front-Enter/images/new-facebook-blue.svg")
                a(href="https://line.me/ti/p/OBVsxhRD9r" target="_blank") 
                    img.line(src="https://frankyeah.github.io/Front-Enter/images/FE_line.png")


        #animation
            img#animation-logo(src="https://frankyeah.github.io/Front-Enter/images/FE_logo-4.png", alt="")
            #animation-blue

// pug -w ./pug -o ./html -P
